@import "~/.cache/wal/colors-rofi-dark.rasi"

* {
  al:       {background};
  bg:      {background};
  se:      {color3};
  fg:      {foreground};
  ac:      {color2};
  red:     {color2};
  green:   {color2};
  yellow:  {color2};
  blue:    {color2};
  purple:  {color2};
  cyan:    {color2};
}
