@theme "~/.cache/wal/colors-rofi-dark.rasi"
*{
  al:      @color4;
  bg:      @background;
  se:      @selected-active-foreground;
  fg:      @selected-active-background;
  ac:      @selected-active-background;
  red:     @normal-background;
  green:   @normal-background;
  sel: blue;
  yellow:  @color2;
  blue:    @color3;
  purple:  @color2;
  cyan:    @color2;
}
